@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: "DIN Alternate", sans-serif;
    font-size: 16px;
    background: rgb(2,0,36);
    background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(113,15,167,1) 47%, rgba(16,130,154,1) 66%);
}

.container {
    margin-top: 10%;
}

.card-element {
    border-color: rgb(253, 185, 160);
    border-width: 0em;
    border-radius: 25px;
    background-color: rgba(153, 136, 153, 0.356);
}

.card-element-contact {
    border-color: rgb(253, 185, 160);
    border-width: 0em;
    background-color: rgb(153, 136, 153, 0.356);
    border-radius: 40px 0px 0px  40px;
}

@media only screen and (max-width: 600px) {
    .card-element-contact {
        border-radius: 40px;
    }
}

@media only screen and (min-width: 768px) {
    #resume-modal {
        margin-left: 25%;
    }
}

.card-element-search {
    border-color: rgb(253, 185, 160);
    border-width: 0em;
    border-radius: 40px 0px 0px  40px;
    background-color: rgb(153, 136, 153, 0.356);
}

.card-element-clock {
    border-color: rgb(253, 185, 160);
    border-width: 0em;
    border-radius: 0px 40px 40px 0px;
    background-color: rgb(153, 136, 153, 0.356);
}

.card-element-bio {
    border-color: rgb(253, 185, 160);
    border-width: 0em;
    border-radius: 25px;
    background-color: rgba(153, 136, 153, 0.356);
}

.music-player-component {
    text-align: center;
    max-width: 600px;
    margin-top: 10px;
    color: aliceblue;
    font-weight: bold;
}

.album-cover {
    justify-self: center;
    align-self: center;
}
  
.musicCover {
    border-radius: 10%;
}
  
.playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}
  
.subTitle {
    margin-top: -1em;
    color: #4f4f4f;
}
  
.time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
}
  
.timeline {
    width: 80%;
    background-color: #08612d;
}
  
input[type="range"] {
    background-color: #27ae60;
}
  
@media (max-width: 900px) {
    .component {
      width: 50%;
    }
}

.temperature {
    display: inline-block;
    font-size: 125px;
    line-height: 90px;
    height: 35px;
    font-weight: lighter;
}

.weather-header {
    line-height: 34px;
    height: 35px;
    font-size: 40px;
}

.weather-description {
    align-self: center;
    justify-self: start;
}

.profile-pic {
    height: 265px;
    width: 265px;
    border-radius: 10%;
}

.profile-pic-container {
    display: flex;
    align-items: center !important;
    height: 100% !important;
    justify-content: center !important;
}

.resume-btn-container {
    align-self: end;
}

.carousel-btn {
    padding-bottom: 50px !important;
}

.nav-item:hover {
    transform: scale(1.2);
}

.copy-to-clipboard:hover {
    color: rgb(224, 101, 224);
}

.clock {
    font-size: 23px;
    font-weight: bold;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
}